@model labo2_oef2.PresentationModels.PMAgenda

@{
    ViewBag.Title = "Agenda Evenement";
}

<div class="jumbotron">
    <h1>IT Pro</h1>
    <p class="lead">The first IT event for....</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Slot 1: 9:30 - 11:30</h2>
        <ol>
            @foreach(var slot in Model.Slot1){
                <li><a href="/agenda/detail?id=@slot.Id">@slot.Name</a></li>
            }
        </ol>
    </div>
    <div class="col-md-4">
        <h2>Slot 2: 13:30 - 15:30</h2>
        <ol>
            @foreach (var slot in Model.Slot2)
            {
                <li><a href="/agenda/detail?id=@slot.Id">@slot.Name</a></li>
            }
        </ol>
    </div>
    <div class="col-md-4">
        <h2>Slot 3: 16:30 - 19:30</h2>
        <ol>
            @foreach (var slot in Model.Slot3)
            {
                <li><a href="/agenda/detail?id=@slot.Id">@slot.Name</a></li>
            }
        </ol>
    </div>
</div>